In [1]:
import pandas as pd
import numpy as np

### 2021-2022

In [13]:
df_21_trad_tw = pd.read_csv("./Data/tw_trad/2021-22_twoWay_trad.csv")
df_21_trad_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_21_trad_tw.dropna(inplace = True)

df_21_adv_tw = pd.read_csv("./Data/tw_adv/2021-22_twoWay_adv.csv")
df_21_adv_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_21_adv_tw.dropna(inplace = True)

df_21_tw = df_21_trad_tw.merge(df_21_adv_tw, on=['PLAYER','AGE','GP','W','L','MIN'])

df_21_trad = pd.read_csv("./Data/trad/2021-22_all_trad.csv")
df_21_trad.drop(['Unnamed: 0','TEAM'], axis = 1, inplace = True)
df_21_trad.dropna(inplace = True)

df_21_adv = pd.read_csv("./Data/adv/2021-22_all_adv.csv")
df_21_adv.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_21_adv.dropna(inplace = True)

df_21 = df_21_trad.merge(df_21_adv, on=['PLAYER','AGE','GP','W','L','MIN'])

df_21 = df_21[~df_21.PLAYER.isin(df_21_tw.PLAYER)]

df_21_tw.drop('PLAYER', axis = 1, inplace = True)
df_21.drop('PLAYER', axis = 1, inplace = True)

In [15]:
len(df_21_tw)
len(df_21)

416

### 2020-2021

In [16]:
df_20_trad_tw = pd.read_csv("./Data/tw_trad/2020-21_twoWay_trad.csv")
df_20_trad_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_20_trad_tw.dropna(inplace = True)

df_20_adv_tw = pd.read_csv("./Data/tw_adv/2020-21_twoWay_adv.csv")
df_20_adv_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_20_adv_tw.dropna(inplace = True)

df_20_tw = df_20_trad_tw.merge(df_20_adv_tw, on=['PLAYER','AGE','GP','W','L','MIN'])

df_20_trad = pd.read_csv("./Data/trad/2020-21_all_trad.csv")
df_20_trad.drop(['Unnamed: 0','TEAM'], axis = 1, inplace = True)
df_20_trad.dropna(inplace = True)

df_20_adv = pd.read_csv("./Data/adv/2020-21_all_adv.csv")
df_20_adv.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_20_adv.dropna(inplace = True)

df_20 = df_20_trad.merge(df_20_adv, on=['PLAYER','AGE','GP','W','L','MIN'])

df_20 = df_20[~df_20.PLAYER.isin(df_20_tw.PLAYER)]

df_20_tw.drop('PLAYER', axis = 1, inplace = True)
df_20.drop('PLAYER', axis = 1, inplace = True)

In [18]:
len(df_20)
len(df_20_tw)

14

### 2019-2020

In [19]:
df_19_trad_tw = pd.read_csv("./Data/tw_trad/2019-20_twoWay_trad.csv")
df_19_trad_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_19_trad_tw.dropna(inplace = True)

df_19_adv_tw = pd.read_csv("./Data/tw_adv/2019-20_twoWay_adv.csv")
df_19_adv_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_19_adv_tw.dropna(inplace = True)

df_19_tw = df_19_trad_tw.merge(df_19_adv_tw, on=['PLAYER','AGE','GP','W','L','MIN'])

df_19_trad = pd.read_csv("./Data/trad/2019-20_all_trad.csv")
df_19_trad.drop(['Unnamed: 0','TEAM'], axis = 1, inplace = True)
df_19_trad.dropna(inplace = True)

df_19_adv = pd.read_csv("./Data/adv/2019-20_all_adv.csv")
df_19_adv.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_19_adv.dropna(inplace = True)

df_19 = df_19_trad.merge(df_19_adv, on=['PLAYER','AGE','GP','W','L','MIN'])

df_19 = df_19[~df_19.PLAYER.isin(df_19_tw.PLAYER)]

df_19_tw.drop('PLAYER', axis = 1, inplace = True)
df_19.drop('PLAYER', axis = 1, inplace = True)

In [21]:
len(df_19)
len(df_19_tw)

17

### 2018-2019

In [22]:
df_18_trad_tw = pd.read_csv("./Data/tw_trad/2018-19_twoWay_trad.csv")
df_18_trad_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_18_trad_tw.dropna(inplace = True)

df_18_adv_tw = pd.read_csv("./Data/tw_adv/2018-19_twoWay_adv.csv")
df_18_adv_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_18_adv_tw.dropna(inplace = True)

df_18_tw = df_18_trad_tw.merge(df_18_adv_tw, on=['PLAYER','AGE','GP','W','L','MIN'])

df_18_trad = pd.read_csv("./Data/trad/2018-19_all_trad.csv")
df_18_trad.drop(['Unnamed: 0','TEAM'], axis = 1, inplace = True)
df_18_trad.dropna(inplace = True)

df_18_adv = pd.read_csv("./Data/adv/2018-19_all_adv.csv")
df_18_adv.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_18_adv.dropna(inplace = True)

df_18 = df_18_trad.merge(df_18_adv, on=['PLAYER','AGE','GP','W','L','MIN'])

df_18 = df_18[~df_18.PLAYER.isin(df_18_tw.PLAYER)]

df_18_tw.drop('PLAYER', axis = 1, inplace = True)
df_18.drop('PLAYER', axis = 1, inplace = True)

In [24]:
len(df_18)
len(df_18_tw)

5

### 2017-2018

In [25]:
df_17_trad_tw = pd.read_csv("./Data/tw_trad/2017-18_twoWay_trad.csv")
df_17_trad_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_17_trad_tw.dropna(inplace = True)

df_17_adv_tw = pd.read_csv("./Data/tw_adv/2017-18_twoWay_adv.csv")
df_17_adv_tw.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_17_adv_tw.dropna(inplace = True)

df_17_tw = df_17_trad_tw.merge(df_17_adv_tw, on=['PLAYER','AGE','GP','W','L','MIN'])

df_17_trad = pd.read_csv("./Data/trad/2017-18_all_trad.csv")
df_17_trad.drop(['Unnamed: 0','TEAM'], axis = 1, inplace = True)
df_17_trad.dropna(inplace = True)

df_17_adv = pd.read_csv("./Data/adv/2017-18_all_adv.csv")
df_17_adv.drop(['Unnamed: 0', 'TEAM'], axis = 1, inplace = True)
df_17_adv.dropna(inplace = True)

df_17 = df_17_trad.merge(df_17_adv, on=['PLAYER','AGE','GP','W','L','MIN'])

df_17 = df_17[~df_17.PLAYER.isin(df_17_tw.PLAYER)]

df_17_tw.drop('PLAYER', axis = 1, inplace = True)
df_17.drop('PLAYER', axis = 1, inplace = True)

In [27]:
len(df_17)
len(df_17_tw)

1

### Combining data in the past 5 seasons of the two-way contracts players

In [28]:
l_df_tw = [df_17_tw, df_18_tw, df_19_tw, df_20_tw, df_21_tw]
df_tw = pd.concat(l_df_tw, axis = 0, join = "inner")
df_tw.head()

,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,...,AST RATIO,OREB%,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE
0,23.0,12.0,8.0,4.0,25.2,10.3,3.1,9.9,31.1,1.3,...,18.1,1.8,16.0,8.6,12.1,37.8,45.0,22.2,104.40,6.3
0,23.0,26.0,12.0,14.0,36.9,22.1,8.5,17.4,48.6,2.3,...,20.6,3.4,14.4,8.9,9.6,55.1,57.6,23.7,104.84,13.3
1,23.0,34.0,23.0,11.0,35.6,20.7,7.3,16.3,44.6,3.1,...,22.5,1.8,12.2,7.1,12.8,54.2,57.8,22.1,110.38,12.4
2,24.0,34.0,18.0,16.0,34.5,13.9,5.1,13.0,39.7,1.8,...,16.7,2.9,14.2,8.3,12.3,46.5,49.4,19.1,101.30,8.4
3,23.0,47.0,25.0,22.0,33.5,13.2,4.9,11.2,43.8,1.8,...,34.1,1.7,11.9,6.8,12.0,51.6,54.3,18.3,104.34,11.3

In [29]:
len(df_tw)

77

In [32]:
df_tw.isna().sum()

AGE          0
GP           0
W            0
L            0
MIN          0
PTS          0
FGM          0
FGA          0
FG%          0
3PM          0
3PA          0
3P%          0
FTM          0
FTA          0
FT%          0
OREB         0
DREB         0
REB          0
AST          0
TOV          0
STL          0
BLK          0
PF           0
FP           0
DD2          0
TD3          0
+/-          0
OFFRTG       0
DEFRTG       0
NETRTG       0
AST%         0
AST/TO       0
AST RATIO    0
OREB%        0
DREB%        0
REB%         0
TO RATIO     0
EFG%         0
TS%          0
USG%         0
PACE         0
PIE          0
dtype: int64

In [34]:
df_tw.to_csv('Data/twoWay_5yrs.csv', index = False)

### Combining data in the past 5 seasons of all G-league players, except for the two way contracts ones

In [30]:
l_df = [df_17, df_18, df_19, df_20, df_21]
df = pd.concat(l_df, axis = 0, join = "inner")
df.head()

,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,...,AST RATIO,OREB%,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE
0,24,1,0,1,39.6,34.0,10.0,16.0,62.5,2.0,...,0.0,5.4,5.9,5.6,4.5,68.8,79.9,21.2,117.67,16.6
1,21,32,17,15,38.2,32.0,11.0,24.0,45.9,2.8,...,11.4,1.8,14.3,8.2,8.5,51.8,57.9,33.1,102.48,15.7
2,21,2,1,1,41.3,29.5,8.0,19.0,42.1,3.5,...,3.4,3.9,20.5,12.3,13.8,51.3,60.2,29.6,97.14,12.6
3,24,1,0,1,36.4,29.0,11.0,22.0,50.0,6.0,...,7.4,0.0,17.1,7.7,3.7,63.6,61.0,27.5,112.14,12.5
4,32,24,13,11,37.2,28.2,8.8,19.8,44.5,4.1,...,14.8,1.1,8.6,4.6,8.4,55.0,60.9,26.3,106.84,13.2

In [31]:
len(df)

2076

In [33]:
df.isna().sum()

AGE          0
GP           0
W            0
L            0
MIN          0
PTS          0
FGM          0
FGA          0
FG%          0
3PM          0
3PA          0
3P%          0
FTM          0
FTA          0
FT%          0
OREB         0
DREB         0
REB          0
AST          0
TOV          0
STL          0
BLK          0
PF           0
FP           0
DD2          0
TD3          0
+/-          0
OFFRTG       0
DEFRTG       0
NETRTG       0
AST%         0
AST/TO       0
AST RATIO    0
OREB%        0
DREB%        0
REB%         0
TO RATIO     0
EFG%         0
TS%          0
USG%         0
PACE         0
PIE          0
dtype: int64

In [35]:
df.to_csv('Data/restAll_5yrs.csv', index = False)